[Desktop Entry]
Name=Python (v2.4)
Comment=Python Interpreter (v2.4)
Exec=/usr/bin/python2.4
Icon=/usr/share/pixmaps/python2.4.xpm
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true
